---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/src/styles/global.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>TUTORIAL PROJECT</title>
	</head>
	<body>
		<h1>Welcome to the tutorial</h1>
    <p class="jared">Test</p>
	</body>
</html>
